<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">SHARESKILL</a>
    <button class="toggle">&#9776;</button>
    <ul class="nav-links">
      <li><a href="/skills"><i class="fas fa-medal"></i> Skills </a></li>
      <li><a href="/connexion"><i class="fas fa-plug-circle-plus"></i> Login </a></li>
      <li><a href="/inscription"><i class="fas fa-folder-plus"></i> Register </a></li>
    </ul>
  </div>
</nav>