<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">SHARESKILL</a>
    <button class="toggle">&#9776;</button>
    <ul class="nav-links">
      <li><a href="/inscription"> Register </a></li>
      <li><a href="/connection"> Login </a></li>
      <li><a href="/skills"> Skills </a></li>
    </ul>
  </div>
</nav>