  <% if (title == "Les Dashboards") { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/dashboard.js"></script>
  <% } %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/notification.js"></script>

  <h1>Dashboard /!\ ONLY ADMIN ALLOW /!\</h1>