<section class="profil">

  <div class="access-messages" style="display:none;">
    <div id="access-msg"></div>
  </div>
  <input type="hidden" id="api-url" value="<%= typeof API_URL !== 'undefined' ? API_URL : '' %>">
  <!-- infos personnelles -->
  <div class="profile-card info-section">
    <form action="" id="info-form">
      <div class="form-grid">
        <div class="form-group">
          <label for="username">
            username</label>
          <input type="text" id="username" name="username">
          <span class="error" data-error="username"></span>
        </div>
        <div class="form-actions">
          <div class="message-container" style="display:none;">
            <div id="verify-msg"></div>
          </div>
        </div>
      </div>
      <div class="form-grid">
        <div class="form-group">
          <label for="email">
            Email</label>
          <input type="text" id="email" name="email">
          <span class="error" data-error="email"></span>
        </div>
        <div class="form-actions">
          <div class="message-container" style="display:none;">
            <div id="verify-msg"></div>
          </div>
        </div>

      </div>
      <button type="submit" id="button-submit">Valider</button>

    </form>
  </div>
</section>